res/history/xsd/20141222/MOYsklad.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">  
  <xs:element name="agent" type="agent"/>  
  <xs:element name="agentPictureDocument" type="agentPictureDocument"/>  
  <xs:element name="amiroConnectorSettings" type="amiroConnectorSettings"/>  
  <xs:element name="attachmentDocument" type="attachmentDocument"/>  
  <xs:element name="barcode" type="barcode"/>  
  <xs:element name="cashIn" type="cashIn"/>  
  <xs:element name="cashOut" type="cashOut"/>  
  <xs:element name="cashier" type="cashier"/>  
  <xs:element name="cmlConnectorSettings" type="cmlConnectorSettings"/>  
  <xs:element name="collection" type="collectionContainer"/>  
  <xs:element name="commissionReportIn" type="commissionReportIn"/>  
  <xs:element name="commissionReportInPosition" type="commissionReportInPosition"/>  
  <xs:element name="commissionReportOut" type="commissionReportOut"/>  
  <xs:element name="commissionReportOutPosition" type="commissionReportOutPosition"/>  
  <xs:element name="company" type="company"/>  
  <xs:element name="consignment" type="consignment"/>  
  <xs:element name="consignmentBarcode" type="consignmentBarcode"/>  
  <xs:element name="contract" type="contract"/>  
  <xs:element name="contractDocument" type="contractDocument"/>  
  <xs:element name="country" type="country"/>  
  <xs:element name="currency" type="currency"/>  
  <xs:element name="customEntity" type="customEntity"/>  
  <xs:element name="customEntityMetadata" type="customEntityMetadata"/>  
  <xs:element name="customerOrder" type="customerOrder"/>  
  <xs:element name="demand" type="demand"/>  
  <xs:element name="document" type="document"/>  
  <xs:element name="documentMiniature" type="documentMiniature"/>  
  <xs:element name="embeddedEntityMetadata" type="embeddedEntityMetadata"/>  
  <xs:element name="employee" type="employee"/>  
  <xs:element name="enter" type="enter"/>  
  <xs:element name="entityTemplatesMetadata" type="entityTemplatesMetadata"/>  
  <xs:element name="exchange" type="exchangeContainer"/>  
  <xs:element name="expenseItem" type="expenseItem"/>  
  <xs:element name="factureIn" type="factureIn"/>  
  <xs:element name="factureOut" type="factureOut"/>  
  <xs:element name="feature" type="feature"/>  
  <xs:element name="featureBarcode" type="featureBarcode"/>  
  <xs:element name="good" type="good"/>  
  <xs:element name="goodFolder" type="goodFolder"/>  
  <xs:element name="goodImage" type="goodImage"/>  
  <xs:element name="gtd" type="gtd"/>  
  <xs:element name="internalOrder" type="internalOrder"/>  
  <xs:element name="inventory" type="inventory"/>  
  <xs:element name="invoiceIn" type="invoiceIn"/>  
  <xs:element name="invoiceOut" type="invoiceOut"/>  
  <xs:element name="loss" type="loss"/>  
  <xs:element name="move" type="move"/>  
  <xs:element name="myCompany" type="myCompany"/>  
  <xs:element name="operationDocument" type="operationDocument"/>  
  <xs:element name="paymentIn" type="paymentIn"/>  
  <xs:element name="paymentOut" type="paymentOut"/>  
  <xs:element name="priceList" type="priceList"/>  
  <xs:element name="priceType" type="priceType"/>  
  <xs:element name="processing" type="processing"/>  
  <xs:element name="processingOrder" type="processingOrder"/>  
  <xs:element name="processingPlan" type="processingPlan"/>  
  <xs:element name="processingPlanFolder" type="processingPlanFolder"/>  
  <xs:element name="project" type="project"/>  
  <xs:element name="purchaseOrder" type="purchaseOrder"/>  
  <xs:element name="purchaseReturn" type="purchaseReturn"/>  
  <xs:element name="reportTemplatesMetadata" type="reportTemplatesMetadata"/>  
  <xs:element name="retailCashIn" type="retailCashIn"/>  
  <xs:element name="retailCashOut" type="retailCashOut"/>  
  <xs:element name="retailDemand" type="retailDemand"/>  
  <xs:element name="retailSalesReturn" type="retailSalesReturn"/>  
  <xs:element name="retailStore" type="retailStore"/>  
  <xs:element name="salesReturn" type="salesReturn"/>  
  <xs:element name="service" type="service"/>  
  <xs:element name="skladShareMode" type="skladShareMode"/>  
  <xs:element name="slot" type="slot"/>  
  <xs:element name="supply" type="supply"/>  
  <xs:element name="template" type="template"/>  
  <xs:element name="thing" type="thing"/>  
  <xs:element name="tinyImage" type="tinyImage"/>  
  <xs:element name="uom" type="uom"/>  
  <xs:element name="warehouse" type="warehouse"/>  
  <xs:element name="workflow" type="workflow"/>  
  <xs:element name="ymlConnectorSettings" type="ymlConnectorSettings"/>  
  <xs:complexType name="service">
    <xs:complexContent>
      <xs:extension base="abstractGood">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractGood">
    <xs:complexContent>
      <xs:extension base="goodFolder">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="barcode"/>
          <xs:element minOccurs="0" name="salePrices" type="goodPrices"/>
        </xs:sequence>
        <xs:attribute name="minPrice" type="xs:double" use="required"/>
        <xs:attribute name="uomUuid" type="xs:IDREF"/>
        <xs:attribute name="countryUuid" type="xs:IDREF"/>
        <xs:attribute name="supplierUuid" type="xs:IDREF"/>
        <xs:attribute name="salePrice" type="xs:double"/>
        <xs:attribute name="saleCurrencyUuid" type="xs:IDREF"/>
        <xs:attribute name="buyCurrencyUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodFolder">
    <xs:complexContent>
      <xs:extension base="classifier">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="goodAttributeValue"/>
        </xs:sequence>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="parentUuid" type="xs:IDREF"/>
        <xs:attribute name="productCode" type="xs:string"/>
        <xs:attribute name="vat" type="xs:long"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="classifier">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="legendEntity">
    <xs:complexContent>
      <xs:extension base="infoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="externalcode" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="infoEntity">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleted" type="xs:dateTime"/>
        </xs:sequence>
        <xs:attribute name="updated" type="xs:dateTime"/>
        <xs:attribute name="updatedBy" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="entity">
    <xs:complexContent>
      <xs:extension base="accountEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="groupUuid" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="readMode" type="accessMode"/>
        <xs:attribute name="changeMode" type="accessMode"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="accountEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountUuid" type="xs:string"/>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="uuid" type="xs:ID"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="uom">
    <xs:complexContent>
      <xs:extension base="predefinedLegendableEntity">
        <xs:sequence/>
        <xs:attribute name="type" type="uomType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="predefinedLegendableEntity">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="country">
    <xs:complexContent>
      <xs:extension base="predefinedLegendableEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="agent">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="agentAttributeValue"/>
          <xs:element minOccurs="0" name="requisite" type="requisite"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="bankAccount" type="agentAccount"/>
          <xs:element minOccurs="0" name="contact" type="contact"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactPerson" type="contactPerson"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="agentNewsItem" type="agentNewsItem"/>
          <xs:element minOccurs="0" name="tags">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="discount" type="xs:double" use="required"/>
        <xs:attribute name="autoDiscount" type="xs:double" use="required"/>
        <xs:attribute name="discountCardNumber" type="xs:string"/>
        <xs:attribute name="discountCorrection" type="xs:double" use="required"/>
        <xs:attribute name="stateUuid" type="xs:IDREF"/>
        <xs:attribute name="employeeUuid" type="xs:IDREF"/>
        <xs:attribute name="priceTypeUuid" type="xs:IDREF"/>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="created" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="agentAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="agentUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="attributeValue">
    <xs:complexContent>
      <xs:extension base="infoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="file" type="attachmentDocument"/>
        </xs:sequence>
        <xs:attribute name="metadataUuid" type="xs:IDREF" use="required"/>
        <xs:attribute name="valueText" type="xs:string"/>
        <xs:attribute name="valueString" type="xs:string"/>
        <xs:attribute name="doubleValue" type="xs:double"/>
        <xs:attribute name="longValue" type="xs:long"/>
        <xs:attribute name="booleanValue" type="xs:boolean"/>
        <xs:attribute name="timeValue" type="xs:dateTime"/>
        <xs:attribute name="entityValueUuid" type="xs:IDREF"/>
        <xs:attribute name="agentValueUuid" type="xs:IDREF"/>
        <xs:attribute name="goodValueUuid" type="xs:IDREF"/>
        <xs:attribute name="placeValueUuid" type="xs:IDREF"/>
        <xs:attribute name="consignmentValueUuid" type="xs:IDREF"/>
        <xs:attribute name="contractValueUuid" type="xs:IDREF"/>
        <xs:attribute name="projectValueUuid" type="xs:IDREF"/>
        <xs:attribute name="employeeValueUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="attributeMetadata">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="attrType" type="attributeType"/>
        <xs:attribute name="dictionaryMetadataUuid" type="xs:IDREF"/>
        <xs:attribute name="entityMetadataUuid" type="xs:IDREF" use="required"/>
        <xs:attribute name="feature" type="xs:boolean"/>
        <xs:attribute name="position" type="xs:int" use="required"/>
        <xs:attribute name="required" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="entityMetadata">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeMetadata" type="attributeMetadata"/>
        </xs:sequence>
        <xs:attribute name="uniqueCode" type="xs:boolean" use="required"/>
        <xs:attribute name="codeValueType" type="xs:int" use="required"/>
        <xs:attribute name="independentNameGenerator" type="xs:boolean" use="required"/>
        <xs:attribute name="partialReserve" type="xs:boolean" use="required"/>
        <xs:attribute name="editOnlyByAuthor" type="xs:boolean" use="required"/>
        <xs:attribute name="noEditFromOtherPlaceSource" type="xs:boolean" use="required"/>
        <xs:attribute name="noApplicableFromOtherPlaceSource" type="xs:boolean" use="required"/>
        <xs:attribute name="noEditFromOtherPlaceTarget" type="xs:boolean" use="required"/>
        <xs:attribute name="noApplicableFromOtherPlaceTarget" type="xs:boolean" use="required"/>
        <xs:attribute name="editablePeriod" type="editablePeriodType"/>
        <xs:attribute name="editableCalendarDays" type="xs:int" use="required"/>
        <xs:attribute name="editableWorkDays" type="xs:int" use="required"/>
        <xs:attribute name="editableFromDate" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="customEntity">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="customEntityAttributeValue"/>
        </xs:sequence>
        <xs:attribute name="entityMetadataUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="customEntityMetadata">
    <xs:complexContent>
      <xs:extension base="entityMetadata">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="customEntityAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="customEntityUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="attachmentDocument">
    <xs:complexContent>
      <xs:extension base="attachableDocument">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="attachableDocument">
    <xs:complexContent>
      <xs:extension base="document">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="document">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="contents" type="xs:base64Binary"/>
        </xs:sequence>
        <xs:attribute name="created" type="xs:dateTime"/>
        <xs:attribute name="filename" type="xs:string"/>
        <xs:attribute name="miniatureUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="documentMiniature">
    <xs:complexContent>
      <xs:extension base="document">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="goodUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="warehouse">
    <xs:complexContent>
      <xs:extension base="classifier">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="placeAttributeValue"/>
          <xs:element minOccurs="0" name="contact" type="contact"/>
          <xs:element minOccurs="0" name="slots">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="slot"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="agentUuid" type="xs:IDREF"/>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="parentUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="placeAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="placeUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="contact">
    <xs:sequence/>
    <xs:attribute name="address" type="xs:string"/>
    <xs:attribute name="phones" type="xs:string"/>
    <xs:attribute name="faxes" type="xs:string"/>
    <xs:attribute name="mobiles" type="xs:string"/>
    <xs:attribute name="email" type="xs:string" use="required"/>
  </xs:complexType>  
  <xs:complexType name="slot">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="warehouseUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="consignment">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="barcode" type="consignmentBarcode"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="consignmentAttributeValue"/>
          <xs:element minOccurs="0" ref="feature"/>
        </xs:sequence>
        <xs:attribute name="goodUuid" type="xs:IDREF"/>
        <xs:attribute name="isDefault" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="consignmentBarcode">
    <xs:complexContent>
      <xs:extension base="abstractBarcode">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractBarcode">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="barcode" type="xs:string"/>
        <xs:attribute name="barcodeType" type="barcodeType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="consignmentAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="consignmentUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="feature">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="featureAttributeValue"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="barcode" type="featureBarcode"/>
        </xs:sequence>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="goodUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="featureAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="featureBarcode">
    <xs:complexContent>
      <xs:extension base="abstractBarcode">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="good">
    <xs:complexContent>
      <xs:extension base="abstractGood">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="pack" type="goodPack"/>
          <xs:element minOccurs="0" name="preferences">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="preference" type="goodSlotPreference"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="images">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="image" type="goodImage"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="isSerialTrackable" type="xs:boolean" use="required"/>
        <xs:attribute name="buyPrice" type="xs:double"/>
        <xs:attribute name="minimumBalance" type="xs:double"/>
        <xs:attribute name="weight" type="xs:double" use="required"/>
        <xs:attribute name="volume" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodPack">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="quantity" type="xs:double" use="required"/>
        <xs:attribute name="uomUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodSlotPreference">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="slotUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodImage">
    <xs:complexContent>
      <xs:extension base="attachableDocument">
        <xs:sequence/>
        <xs:attribute name="tinyUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="tinyImage">
    <xs:complexContent>
      <xs:extension base="document">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="contract">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="contractAttributeValue"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="document" type="contractDocument"/>
          <xs:element minOccurs="0" name="sum" type="moneyAmount"/>
        </xs:sequence>
        <xs:attribute name="agentUuid" type="xs:IDREF"/>
        <xs:attribute name="agentAccountUuid" type="xs:IDREF"/>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="contractType" type="contractType"/>
        <xs:attribute name="currencyUuid" type="xs:IDREF"/>
        <xs:attribute name="moment" type="xs:dateTime"/>
        <xs:attribute name="ownCompanyUuid" type="xs:IDREF"/>
        <xs:attribute name="ownCompanyAccountUuid" type="xs:IDREF"/>
        <xs:attribute name="rewardPercent" type="xs:double" use="required"/>
        <xs:attribute name="rewardType" type="rewardType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="agentAccount">
    <xs:complexContent>
      <xs:extension base="infoEntity">
        <xs:sequence/>
        <xs:attribute name="accountNumber" type="xs:string"/>
        <xs:attribute name="bankLocation" type="xs:string"/>
        <xs:attribute name="bankName" type="xs:string"/>
        <xs:attribute name="bic" type="xs:string"/>
        <xs:attribute name="correspondentAccount" type="xs:string"/>
        <xs:attribute name="isDefault" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="contractAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="contractUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="currency">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="major" type="unit"/>
          <xs:element minOccurs="0" name="minor" type="unit"/>
        </xs:sequence>
        <xs:attribute name="enteredRate" type="xs:double" use="required"/>
        <xs:attribute name="invertRate" type="xs:boolean" use="required"/>
        <xs:attribute name="rate" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="unit">
    <xs:all/>
    <xs:attribute name="s1" type="xs:string"/>
    <xs:attribute name="s24" type="xs:string"/>
    <xs:attribute name="s5" type="xs:string"/>
    <xs:attribute name="sex" type="xs:unsignedShort" use="required"/>
  </xs:complexType>  
  <xs:complexType name="contractDocument">
    <xs:complexContent>
      <xs:extension base="printedDocument">
        <xs:sequence/>
        <xs:attribute name="contractUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="printedDocument">
    <xs:complexContent>
      <xs:extension base="document">
        <xs:sequence/>
        <xs:attribute name="emailedDate" type="xs:dateTime"/>
        <xs:attribute name="publicId" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="moneyAmount">
    <xs:sequence/>
    <xs:attribute name="sum" type="xs:double"/>
    <xs:attribute name="sumInCurrency" type="xs:double"/>
  </xs:complexType>  
  <xs:complexType name="project">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="projectAttributeValue"/>
        </xs:sequence>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="projectAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="projectUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="employee">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="employeeAttributeValue"/>
        </xs:sequence>
        <xs:attribute name="archived" type="xs:boolean" use="required"/>
        <xs:attribute name="city" type="xs:string"/>
        <xs:attribute name="email" type="xs:string"/>
        <xs:attribute name="fax" type="xs:string"/>
        <xs:attribute name="firstName" type="xs:string"/>
        <xs:attribute name="icqNumber" type="xs:string"/>
        <xs:attribute name="lastName" type="xs:string"/>
        <xs:attribute name="middleName" type="xs:string"/>
        <xs:attribute name="mobile" type="xs:string"/>
        <xs:attribute name="phone" type="xs:string"/>
        <xs:attribute name="postalAddress" type="xs:string"/>
        <xs:attribute name="postalCode" type="xs:string"/>
        <xs:attribute name="pzInternalNumber" type="xs:string"/>
        <xs:attribute name="skypeName" type="xs:string"/>
        <xs:attribute name="uid" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="employeeAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="employeeUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="requisite">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankAccount" type="agentAccount"/>
    </xs:sequence>
    <xs:attribute name="legalTitle" type="xs:string"/>
    <xs:attribute name="legalAddress" type="xs:string"/>
    <xs:attribute name="actualAddress" type="xs:string"/>
    <xs:attribute name="inn" type="xs:string"/>
    <xs:attribute name="kpp" type="xs:string"/>
    <xs:attribute name="okpo" type="xs:string"/>
    <xs:attribute name="ogrn" type="xs:string"/>
    <xs:attribute name="ogrnip" type="xs:string"/>
    <xs:attribute name="nomerSvidetelstva" type="xs:string"/>
    <xs:attribute name="dataSvidetelstva" type="xs:dateTime"/>
  </xs:complexType>  
  <xs:complexType name="contactPerson">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="email" type="xs:string"/>
        <xs:attribute name="phone" type="xs:string"/>
        <xs:attribute name="position" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="agentNewsItem">
    <xs:complexContent>
      <xs:extension base="infoEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="text" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="moment" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="state">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceType">
    <xs:complexContent>
      <xs:extension base="infoEntity">
        <xs:sequence/>
        <xs:attribute name="index" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="barcode">
    <xs:complexContent>
      <xs:extension base="abstractBarcode">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="goodPrices">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="price" type="price"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="price">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="currencyUuid" type="xs:IDREF"/>
        <xs:attribute name="priceTypeUuid" type="xs:IDREF"/>
        <xs:attribute name="value" type="xs:double"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceListRow">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="cell" type="priceListCell"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="motion">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="basePrice" type="moneyAmount"/>
          <xs:element minOccurs="0" name="price" type="moneyAmount"/>
          <xs:element minOccurs="0" name="things">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="thingRef" type="thing"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="discount" type="xs:double" use="required"/>
        <xs:attribute name="quantity" type="xs:double" use="required"/>
        <xs:attribute name="goodPackUuid" type="xs:IDREF"/>
        <xs:attribute name="consignmentUuid" type="xs:IDREF"/>
        <xs:attribute name="goodUuid" type="xs:IDREF"/>
        <xs:attribute name="slotUuid" type="xs:IDREF"/>
        <xs:attribute name="vat" type="xs:long"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceListCell">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="sum" type="moneyAmount"/>
        </xs:sequence>
        <xs:attribute name="columnName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="thing">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="thingAttributeValue"/>
        </xs:sequence>
        <xs:attribute name="goodUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="thingAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="thingUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceListMetadata">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="column" type="priceListMetadataColumn"/>
        </xs:sequence>
        <xs:attribute name="priceTypeUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceListMetadataColumn">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="percentageDiscount" type="xs:int"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="salesReturn">
    <xs:complexContent>
      <xs:extension base="abstractSalesReturn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractSalesReturn">
    <xs:complexContent>
      <xs:extension base="comingInOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="lossesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="lossRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="salesReturnPosition" type="salesReturnPosition"/>
        </xs:sequence>
        <xs:attribute name="demandUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="comingInOperation">
    <xs:complexContent>
      <xs:extension base="stockOperation">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="stockOperation">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="operationWithPositions">
    <xs:complexContent>
      <xs:extension base="operation">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="operation">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="operationAttributeValue"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="document" type="operationDocument"/>
          <xs:element minOccurs="0" name="sum" type="moneyAmount"/>
        </xs:sequence>
        <xs:attribute name="stateUuid" type="xs:IDREF"/>
        <xs:attribute name="targetAgentUuid" type="xs:IDREF"/>
        <xs:attribute name="sourceAgentUuid" type="xs:IDREF"/>
        <xs:attribute name="targetStoreUuid" type="xs:IDREF"/>
        <xs:attribute name="sourceStoreUuid" type="xs:IDREF"/>
        <xs:attribute name="applicable" type="xs:boolean" use="required"/>
        <xs:attribute name="projectUuid" type="xs:IDREF"/>
        <xs:attribute name="contractUuid" type="xs:IDREF"/>
        <xs:attribute name="moment" type="xs:dateTime"/>
        <xs:attribute name="targetAccountUuid" type="xs:IDREF"/>
        <xs:attribute name="sourceAccountUuid" type="xs:IDREF"/>
        <xs:attribute name="payerVat" type="xs:boolean"/>
        <xs:attribute name="retailStoreUuid" type="xs:IDREF"/>
        <xs:attribute name="currencyUuid" type="xs:IDREF"/>
        <xs:attribute name="rate" type="xs:double" use="required"/>
        <xs:attribute name="vatIncluded" type="xs:boolean" use="required"/>
        <xs:attribute name="created" type="xs:dateTime"/>
        <xs:attribute name="createdBy" type="xs:string"/>
        <xs:attribute name="employeeUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractDemand">
    <xs:complexContent>
      <xs:extension base="comingOutOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoicesOutUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="shipmentOut" type="shipmentOut"/>
          <xs:element minOccurs="0" name="salesReturnsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="salesReturnRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="customerOrderUuid" type="xs:IDREF"/>
        <xs:attribute name="factureUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="comingOutOperation">
    <xs:complexContent>
      <xs:extension base="stockOperation">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="customerOrder">
    <xs:complexContent>
      <xs:extension base="order">
        <xs:sequence>
          <xs:element minOccurs="0" name="demandsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="demandRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="invoicesOutUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="customerOrderPosition" type="customerOrderPosition"/>
          <xs:element minOccurs="0" name="purchaseOrdersUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="order">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence/>
        <xs:attribute name="deliveryPlannedMoment" type="xs:dateTime"/>
        <xs:attribute name="reservedSum" type="xs:double"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="invoiceOut">
    <xs:complexContent>
      <xs:extension base="invoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="demandsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="demandRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="customerOrderUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="invoice">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="invoicePosition" type="invoicePosition"/>
        </xs:sequence>
        <xs:attribute name="paymentPlannedMoment" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="financeIn">
    <xs:complexContent>
      <xs:extension base="finance">
        <xs:sequence>
          <xs:element minOccurs="0" name="demandsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="demandRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="commissionReportUuid" type="xs:IDREF"/>
        <xs:attribute name="customerOrderUuid" type="xs:IDREF"/>
        <xs:attribute name="factureOutUuid" type="xs:IDREF"/>
        <xs:attribute name="invoiceOutUuid" type="xs:IDREF"/>
        <xs:attribute name="purchaseReturnUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="finance">
    <xs:complexContent>
      <xs:extension base="operation">
        <xs:sequence/>
        <xs:attribute name="expenseItemUuid" type="xs:IDREF"/>
        <xs:attribute name="incomingDate" type="xs:dateTime"/>
        <xs:attribute name="incomingNumber" type="xs:string"/>
        <xs:attribute name="paymentPurpose" type="xs:string"/>
        <xs:attribute name="vatSum" type="xs:double"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="commissionReportIn">
    <xs:complexContent>
      <xs:extension base="commissionReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="commissionReportInPositions" type="commissionReportInPosition"/>
        </xs:sequence>
        <xs:attribute name="incomingDate" type="xs:dateTime"/>
        <xs:attribute name="incomingNumber" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="commissionReport">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence/>
        <xs:attribute name="endCommissionPeriod" type="xs:dateTime"/>
        <xs:attribute name="rewardPercent" type="xs:double" use="required"/>
        <xs:attribute name="rewardType" type="rewardType"/>
        <xs:attribute name="startCommissionPeriod" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="commissionReportInPosition">
    <xs:complexContent>
      <xs:extension base="commissionReportPosition">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="commissionReportPosition">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence>
          <xs:element minOccurs="0" name="reward" type="moneyAmount"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="operationAttributeValue">
    <xs:complexContent>
      <xs:extension base="attributeValue">
        <xs:sequence/>
        <xs:attribute name="operationUuid" type="xs:IDREF" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="operationDocument">
    <xs:complexContent>
      <xs:extension base="printedDocument">
        <xs:sequence/>
        <xs:attribute name="operationUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="retailStore">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="active" type="xs:boolean"/>
        <xs:attribute name="address" type="xs:string"/>
        <xs:attribute name="myCompanyUuid" type="xs:IDREF"/>
        <xs:attribute name="priceTypeUuid" type="xs:IDREF"/>
        <xs:attribute name="warehouseUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="myCompany">
    <xs:complexContent>
      <xs:extension base="company">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="company">
    <xs:complexContent>
      <xs:extension base="agent">
        <xs:sequence>
          <xs:element minOccurs="0" name="sign" type="agentPictureDocument"/>
          <xs:element minOccurs="0" name="stamp" type="agentPictureDocument"/>
        </xs:sequence>
        <xs:attribute name="director" type="xs:string"/>
        <xs:attribute name="chiefAccountant" type="xs:string"/>
        <xs:attribute name="payerVat" type="xs:boolean"/>
        <xs:attribute name="companyType" type="companyType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="agentPictureDocument">
    <xs:complexContent>
      <xs:extension base="attachableDocument">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="factureOut">
    <xs:complexContent>
      <xs:extension base="facture">
        <xs:sequence>
          <xs:element minOccurs="0" name="demandsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="demandRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="extension" type="factureOutExtension"/>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="returnsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="returnRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="paymentDate" type="xs:dateTime"/>
        <xs:attribute name="paymentNumber" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="facture">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="factureOutExtension">
    <xs:complexContent>
      <xs:extension base="operationExtension">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="operationExtension">
    <xs:sequence/>
    <xs:attribute name="consigneeUuid" type="xs:IDREF"/>
  </xs:complexType>  
  <xs:complexType name="purchaseReturn">
    <xs:complexContent>
      <xs:extension base="comingOutOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseReturnPosition" type="purchaseReturnPosition"/>
        </xs:sequence>
        <xs:attribute name="factureUuid" type="xs:IDREF"/>
        <xs:attribute name="supplyUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="purchaseReturnPosition">
    <xs:complexContent>
      <xs:extension base="abstractShipmentOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractShipmentOut">
    <xs:complexContent>
      <xs:extension base="comingOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="comingOut">
    <xs:complexContent>
      <xs:extension base="stockMotion">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="stockMotion">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence/>
        <xs:attribute name="countryUuid" type="xs:IDREF"/>
        <xs:attribute name="gtdUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="gtd">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="supply">
    <xs:complexContent>
      <xs:extension base="comingInOperation">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoicesInUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="overhead" type="moneyAmount"/>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="shipmentIn" type="shipmentIn"/>
          <xs:element minOccurs="0" name="purchaseReturnsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseReturnRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="factureInUuid" type="xs:IDREF"/>
        <xs:attribute name="incomingDate" type="xs:dateTime"/>
        <xs:attribute name="incomingNumber" type="xs:string"/>
        <xs:attribute name="overheadDistribution" type="overheadDistribution"/>
        <xs:attribute name="purchaseOrderUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="factureIn">
    <xs:complexContent>
      <xs:extension base="facture">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="suppliesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="supplyRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="incomingDate" type="xs:dateTime"/>
        <xs:attribute name="incomingNumber" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="financeOut">
    <xs:complexContent>
      <xs:extension base="finance">
        <xs:sequence/>
        <xs:attribute name="commissionreportoutUuid" type="xs:IDREF"/>
        <xs:attribute name="factureInUuid" type="xs:IDREF"/>
        <xs:attribute name="invoiceInUuid" type="xs:IDREF"/>
        <xs:attribute name="purchaseOrderUuid" type="xs:IDREF"/>
        <xs:attribute name="salesReturnUuid" type="xs:IDREF"/>
        <xs:attribute name="supplyUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="commissionReportOut">
    <xs:complexContent>
      <xs:extension base="commissionReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="commissionReportOutPositions" type="commissionReportOutPosition"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="commissionReportOutPosition">
    <xs:complexContent>
      <xs:extension base="commissionReportPosition">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="invoiceIn">
    <xs:complexContent>
      <xs:extension base="invoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="financesOutUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="suppliesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="supplyRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="incomingDate" type="xs:dateTime"/>
        <xs:attribute name="incomingNumber" type="xs:string"/>
        <xs:attribute name="purchaseOrderUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="purchaseOrder">
    <xs:complexContent>
      <xs:extension base="order">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerOrdersUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="customerOrderRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="internalOrders">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="internalOrderRef" type="internalOrder"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="invoicesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceInRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="paymentsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="financeOutRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderPosition" type="purchaseOrderPosition"/>
          <xs:element minOccurs="0" name="suppliesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="supplyRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="internalOrder">
    <xs:complexContent>
      <xs:extension base="order">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderPosition" type="purchaseOrderPosition"/>
          <xs:element minOccurs="0" name="purchaseOrdersUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="demandsUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="moveRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="purchaseOrderPosition">
    <xs:complexContent>
      <xs:extension base="orderPosition">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="orderPosition">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence>
          <xs:element name="reserve" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="move">
    <xs:complexContent>
      <xs:extension base="stockOperation">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="movePosition" type="movePosition"/>
        </xs:sequence>
        <xs:attribute name="internalOrderUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="movePosition">
    <xs:complexContent>
      <xs:extension base="stockMotion">
        <xs:sequence/>
        <xs:attribute name="sourceSlotUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="invoicePosition">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="expenseItem">
    <xs:complexContent>
      <xs:extension base="predefinedLegendableEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="shipmentIn">
    <xs:complexContent>
      <xs:extension base="comingIn">
        <xs:sequence/>
        <xs:attribute name="overhead" type="xs:double"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="comingIn">
    <xs:complexContent>
      <xs:extension base="stockMotion">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="customerOrderPosition">
    <xs:complexContent>
      <xs:extension base="orderPosition">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="shipmentOut">
    <xs:complexContent>
      <xs:extension base="abstractShipmentOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="loss">
    <xs:complexContent>
      <xs:extension base="comingOutOperation">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="lossPosition" type="lossPosition"/>
        </xs:sequence>
        <xs:attribute name="inventoryUuid" type="xs:IDREF"/>
        <xs:attribute name="salesReturnUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="inventory">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence>
          <xs:element minOccurs="0" name="entersUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="enterRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="lossesUuid">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="lossRef" type="xs:IDREF"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryPosition" type="inventoryPosition"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="enter">
    <xs:complexContent>
      <xs:extension base="comingInOperation">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="enterPosition" type="enterPosition"/>
        </xs:sequence>
        <xs:attribute name="inventoryUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="enterPosition">
    <xs:complexContent>
      <xs:extension base="comingIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="tags">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="inventoryPosition">
    <xs:complexContent>
      <xs:extension base="motion">
        <xs:sequence/>
        <xs:attribute name="correctionAmount" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="lossPosition">
    <xs:complexContent>
      <xs:extension base="comingOut">
        <xs:sequence>
          <xs:element minOccurs="0" name="tags">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="salesReturnPosition">
    <xs:complexContent>
      <xs:extension base="comingIn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="entityTemplatesMetadata">
    <xs:complexContent>
      <xs:extension base="templatesMetadata">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="templatesMetadata">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="template"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="template">
    <xs:complexContent>
      <xs:extension base="document">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processingPlan">
    <xs:complexContent>
      <xs:extension base="processingPlanFolder">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="material" type="material"/>
          <xs:element minOccurs="0" name="price" type="moneyAmount"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="product"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processingPlanFolder">
    <xs:complexContent>
      <xs:extension base="classifier">
        <xs:sequence/>
        <xs:attribute name="parentUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="material">
    <xs:complexContent>
      <xs:extension base="processingPlanItem">
        <xs:sequence/>
        <xs:attribute name="isOptional" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="processingPlanItem">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="goodUuid" type="xs:IDREF"/>
        <xs:attribute name="planUuid" type="xs:IDREF"/>
        <xs:attribute name="quantity" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="product">
    <xs:complexContent>
      <xs:extension base="processingPlanItem">
        <xs:sequence/>
        <xs:attribute name="costShare" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processingPositionMaterial">
    <xs:complexContent>
      <xs:extension base="comingOut">
        <xs:sequence/>
        <xs:attribute name="planMaterialUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processingPositionResult">
    <xs:complexContent>
      <xs:extension base="comingIn">
        <xs:sequence/>
        <xs:attribute name="planResultUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processingOrder">
    <xs:complexContent>
      <xs:extension base="order">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderPosition" type="customerOrderPosition"/>
          <xs:element minOccurs="0" name="processings" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="processingRef" type="processing"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="planUuid" type="xs:IDREF" use="required"/>
        <xs:attribute name="quantity" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="processing">
    <xs:complexContent>
      <xs:extension base="stockOperation">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="material" type="processingPositionMaterial"/>
          <xs:element minOccurs="0" name="results">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="result" type="processingPositionResult"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="planUuid" type="xs:IDREF"/>
        <xs:attribute name="processingOrderUuid" type="xs:IDREF"/>
        <xs:attribute name="processingSum" type="xs:double"/>
        <xs:attribute name="quantity" type="xs:double" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="workflow">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="state" type="state"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="skladShareMode">
    <xs:complexContent>
      <xs:extension base="shareMode">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="shareMode">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="embeddedEntityMetadata">
    <xs:complexContent>
      <xs:extension base="entityMetadata">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="collectionContainer">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="exchangeContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="commissionReportIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="commissionReportIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="commissionReportOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="commissionReportOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="workflow">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="workflow"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="shareModes">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="shareMode" type="skladShareMode"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="customEntityMetadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="customEntityMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="embeddedEntityMetadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="embeddedEntityMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entityTemplatesMetadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="entityTemplatesMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="reportTemplatesMetadata">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="reportTemplatesMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="customEntity">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="customEntity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="currencies">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="currency"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="country">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="country"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="gtd">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="gtd"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="uoms">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="uom"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="myCompany">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="myCompany"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="agents">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="agent"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="companies">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="company"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="goodFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="goodFolder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="goods">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="good"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="service">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="service"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="things">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="thing"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="employees">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="employee"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="warehouses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="warehouse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="project">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="project"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="contract">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="contract"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="processingPlans">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="processingPlan"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="features">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="feature"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="consignments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="consignment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="priceLists">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="priceList"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="paymentIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="paymentIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="paymentOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="paymentOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="factureIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="factureIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="factureOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="factureOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="cashIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cashIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="cashOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cashOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="deliveries-demand">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="demand"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="deliveries-supply">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="supply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="retailCashIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="retailCashIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="retailCashOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="retailCashOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="retailDemand">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="retailDemand"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="retailSalesReturn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="retailSalesReturn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="inventories">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="inventory"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="moves">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="move"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="losses">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="loss"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="enters">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="enter"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="invoicesIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="invoiceIn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="invoicesOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="invoiceOut"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="salesReturns">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="salesReturn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseReturns">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="purchaseReturn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="processings">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="processing"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="customerOrders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="customerOrder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseOrders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="purchaseOrder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="internalOrders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="internalOrder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="proccessingOrders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="processingOrder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="amiroConnectors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="amiroConnectorSettings"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="cmlConnectors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cmlConnectorSettings"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ymlConnectors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ymlConnectorSettings"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="reportTemplatesMetadata">
    <xs:complexContent>
      <xs:extension base="templatesMetadata">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="priceList">
    <xs:complexContent>
      <xs:extension base="operationWithPositions">
        <xs:sequence>
          <xs:element name="metadata" type="priceListMetadata"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="priceListRow" type="priceListRow"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="paymentIn">
    <xs:complexContent>
      <xs:extension base="financeIn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="paymentOut">
    <xs:complexContent>
      <xs:extension base="financeOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="cashIn">
    <xs:complexContent>
      <xs:extension base="abstractCashIn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractCashIn">
    <xs:complexContent>
      <xs:extension base="financeIn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="cashOut">
    <xs:complexContent>
      <xs:extension base="abstractCashOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="abstractCashOut">
    <xs:complexContent>
      <xs:extension base="financeOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="demand">
    <xs:complexContent>
      <xs:extension base="abstractDemand">
        <xs:sequence>
          <xs:element minOccurs="0" name="extension" type="demandExtension"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="demandExtension">
    <xs:complexContent>
      <xs:extension base="operationExtension">
        <xs:sequence/>
        <xs:attribute name="opened" type="xs:boolean" use="required"/>
        <xs:attribute name="carrierUuid" type="xs:IDREF"/>
        <xs:attribute name="loadName" type="xs:string"/>
        <xs:attribute name="consignorIndication" type="xs:string"/>
        <xs:attribute name="transportFacility" type="xs:string"/>
        <xs:attribute name="goodPackQuantity" type="xs:int"/>
        <xs:attribute name="carNumber" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="retailCashIn">
    <xs:complexContent>
      <xs:extension base="abstractCashIn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="retailCashOut">
    <xs:complexContent>
      <xs:extension base="abstractCashOut">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="retailDemand">
    <xs:complexContent>
      <xs:extension base="abstractDemand">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="retailSalesReturn">
    <xs:complexContent>
      <xs:extension base="abstractSalesReturn">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="amiroConnectorSettings">
    <xs:complexContent>
      <xs:extension base="operationConnectorSetting">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="customAttribute" type="amiroCustomAttributeInfo"/>
        </xs:sequence>
        <xs:attribute name="commentsColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerAddressColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerCodeColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerEmailColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerFirstNameColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerLastNameColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerNickColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="customerPhoneColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="goodIdColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="goodNameColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="orderDateColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="orderIdColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="prefixForAgent" type="xs:boolean" use="required"/>
        <xs:attribute name="prefixForGood" type="xs:boolean" use="required"/>
        <xs:attribute name="prefixForOperation" type="xs:boolean" use="required"/>
        <xs:attribute name="priceColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="quantityColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="shippingAmountColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="stateColumnNum" type="xs:int" use="required"/>
        <xs:attribute name="taxColumnNum" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="operationConnectorSetting">
    <xs:complexContent>
      <xs:extension base="abstractConnectorSetting">
        <xs:sequence/>
        <xs:attribute name="adminDomain" type="xs:string"/>
        <xs:attribute name="autoReserve" type="xs:boolean" use="required"/>
        <xs:attribute name="orderplaceUuid" type="xs:IDREF"/>
        <xs:attribute name="shopDomain" type="xs:string"/>
        <xs:attribute name="syncFeatures" type="xs:boolean" use="required"/>
        <xs:attribute name="useShopOperationName" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType abstract="true" name="abstractConnectorSetting">
    <xs:complexContent>
      <xs:extension base="legendEntity">
        <xs:sequence/>
        <xs:attribute name="active" type="xs:boolean" use="required"/>
        <xs:attribute name="login" type="xs:string"/>
        <xs:attribute name="organizationUuid" type="xs:IDREF"/>
        <xs:attribute name="password" type="xs:string"/>
        <xs:attribute name="pollPeriod" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="amiroCustomAttributeInfo">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="columnNumber" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="settingsUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="cmlConnectorSettings">
    <xs:complexContent>
      <xs:extension base="operationConnectorSetting">
        <xs:sequence/>
        <xs:attribute name="features" type="xs:boolean" use="required"/>
        <xs:attribute name="goodFolderUuid" type="xs:IDREF"/>
        <xs:attribute name="priceTypeUuid" type="xs:IDREF"/>
        <xs:attribute name="shopType" type="cmlType"/>
        <xs:attribute name="stockActive" type="xs:boolean" use="required"/>
        <xs:attribute name="stockplaceUuid" type="xs:IDREF"/>
        <xs:attribute name="stockPollPeriod" type="xs:int" use="required"/>
        <xs:attribute name="syncOrderState" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="ymlConnectorSettings">
    <xs:complexContent>
      <xs:extension base="abstractConnectorSetting">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:complexType name="cashier">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
        <xs:attribute name="createAndPrintRetailCashOut" type="xs:boolean" use="required"/>
        <xs:attribute name="employeeUuid" type="xs:IDREF"/>
        <xs:attribute name="printCheck" type="xs:boolean" use="required"/>
        <xs:attribute name="printCheckFR" type="xs:boolean" use="required"/>
        <xs:attribute name="retailStoreUuid" type="xs:IDREF"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:simpleType name="uomType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mass"/>
      <xs:enumeration value="volume"/>
      <xs:enumeration value="piece"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="accessMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="SELF"/>
      <xs:enumeration value="PARENT"/>
      <xs:enumeration value="NEIGHBOUR"/>
      <xs:enumeration value="ALL"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="attributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="TIME"/>
      <xs:enumeration value="ID_CUSTOM"/>
      <xs:enumeration value="FILE"/>
      <xs:enumeration value="DOUBLE"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="ID_EMBEDDED"/>
      <xs:enumeration value="TEXT"/>
      <xs:enumeration value="LINK"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="editablePeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="CALENDAR_DAYS"/>
      <xs:enumeration value="WORK_DAYS"/>
      <xs:enumeration value="DATE"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="barcodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EAN8"/>
      <xs:enumeration value="EAN13"/>
      <xs:enumeration value="Code128"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="contractType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sales"/>
      <xs:enumeration value="Commission"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="rewardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PercentOfSales"/>
      <xs:enumeration value="None"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="companyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="URLI"/>
      <xs:enumeration value="INPR"/>
      <xs:enumeration value="FILI"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="overheadDistribution">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BY_PRICE"/>
      <xs:enumeration value="BY_WEIGHT"/>
      <xs:enumeration value="BY_VOLUME"/>
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="cmlType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BITRIX"/>
      <xs:enumeration value="UMICMS"/>
      <xs:enumeration value="HOSTCMS"/>
      <xs:enumeration value="INSALES"/>
      <xs:enumeration value="WEBASYST"/>
      <xs:enumeration value="SIMPLA"/>
      <xs:enumeration value="UMIRU"/>
      <xs:enumeration value="PRESTASHOP"/>
      <xs:enumeration value="SITEEDIT"/>
      <xs:enumeration value="BITRIXSMB"/>
      <xs:enumeration value="FASTSALES"/>
      <xs:enumeration value="MAGENTO"/>
      <xs:enumeration value="DIAFAN"/>
      <xs:enumeration value="SHOPIUM"/>
      <xs:enumeration value="VIRTUEMART"/>
      <xs:enumeration value="ADVANTSHOP"/>
      <xs:enumeration value="AGORAPLATFORM"/>
      <xs:enumeration value="CSCART"/>
      <xs:enumeration value="WEBASYST5"/>
      <xs:enumeration value="GENERIC_CML"/>
    </xs:restriction>
  </xs:simpleType> 
</xs:schema>
